<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<!-- fragments/comments_container.mustache -->
<!-- fragments/comments_container.mustache -->
<div class="comments">
    <!-- Existing comments -->
    {{#comments}}
        {{> fragments/comment}}
    {{/comments}}
    {{^comments}}
        <p class="muted">No comments yet.</p>
    {{/comments}}

    <!-- New comment form -->
    <form method="post" action="/post/{{postId}}/comment">
        <input
            name="comment"
            class="short-input full"
            type="text"
            placeholder="Enter your comment here"
            required
        >
        <button type="submit">Post</button>
    </form>
</div>